.home-page-bg-container {
    background-color: #1b1b1b;
    background-size: cover;
    padding:10px;
    text-align:center;
}

.home-page-heading {
    font-family: "Bree Serif";
    color: #ffffff;
    font-size: 25px;
    padding: 20px;
}

.card-container {
    border-radius: 8px;
    background-color: #e6f6ff;
    margin: 15px;
    height:30vh;
}

.image1 {
    height: 30vh;
    width: 30vw;
}

.Apj-title {
    color: #183b56;
    font-size: 13px;
    font-family: "Bree Serif";
    margin:10px;
}

.Apj-paragraph {
    color: #06070d;
    font-size: 12px;
    font-family: "Bree Serif";
   margin:10px;
    font-weight: bold;
}

.Apj-paragraph2 {
    color: #183b56;
    font-size: 10px;
    font-family: "Bree Serif";
   margin:10px;
}

.btn1 {
   margin:10px;
}

.card2 {
    margin: 10px;
}

.image3 {
    height: 150px;
    width: 90px;
}

.chetan-title {
    color: #ffffff;
    font-weight: 300;
    font-style: bold;
    font-size: 14px;
    font-family: "Bree Serif";
    padding: 5px;
}

.chetan-paragraph {
    color: #e4e7eb;
    font-weight: 300;
    font-style: bold;
    font-size: 14px;
    font-family: "Bree Serif";
    padding: 5px;
}

.image4 {
    margin-left: 120px;
    margin-right: 90px;
    margin-top: 20px;
    height: 50vh;
    width: 40vw;
}

.allign {
    text-align: center;
    color: #ffffff;
}

.colour {
    color: #ffffff;
    margin: 15px;
}
.button-orange{
    height:40px;
    width:112px;
    border-radius:6px;
    background-color: orange;
    border-width:0px;
    margin:5px;
    color:white;
}
.button-blue{
     height:40px;
    width:112px;
    border-radius:6px;
    background-color:blue;
    border-width:0px;
    margin:5px;
    color:white;
}