.home-pg-bg-container{
    background-color:white;
    background-size:cover;
}
.haeding{
    font-family:"Roboto";
    color:#183b56;
    font-weight:bold;
    font-size:34px;
}
.para{
    color:#7b8794;
    font-family:"Roboto";
    font-size:20px;
}
.menu-item-card{
    background-color:#ffffff;
    margin:10px;
  
}
.image1{
    height:80px;
    width:80px;
}
.heading{
    font-family:"Roboto";
    font-size:18px;
    font-weight:500;
}
.description{
     color:#7b8794;
    font-family:"Roboto";
    font-size:15px;
}